<!-- Twitter API results feeded -->
<% if @tweets.present? %>
			<table class="table table-bordered">
			
				<% if @search_term.present? %>
					<th><%= @search_term%>'s tweets</th>
				<% else %>
					<th> CNN's tweets </th>
				<% end %>
				
				<tr><td>
				<% @tweets.each do |tweet| %>				
					<p class="text-muted"><%= tweet.user.name%> <a href="https://www.twitter.com/@<%= tweet.user.screen_name%>" target="_blank">@<%= tweet.user.screen_name%> </a> <%= tweet.created_at.strftime("%d %B %Y  %H:%M")%></p>
					<%= image_tag(tweet.user.profile_image_url, :class => 'img-rounded') %>
					<strong><%= auto_link(tweet.text, :html => { :target => '_blank' }) %></strong> 
					
					<br>
					<hr>
				<% end %>
				</td>
				</table>
<% else %>
	<p> No such Twitter profile. </p>
<% end %>				