<!DOCTYPE html>
<html>
<head>
  <title>SOCIALBLENDS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
body { padding-top: 70px; }
</style>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">               
                <a class="navbar-brand" <%= link_to 'SOCIALBLENDS - Social Networks Data Blending ', root_url %> </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling             
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<div class="container">
<body>

<%= yield %>

</body>
</html>
